.setting-card {
    margin: 0;
    padding: var(--space-md);

    border: 1px solid var(--border-color);
    border-radius: var(--radius-md);
}

.setting-card-title {
    padding: 0 var(--space-sm);

    font-size: var(--font-size-md);
    font-weight: 600;
}

.setting-card-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}