.initial-setting-page {
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 24px;

    padding: 24px;
}

.initial-grid {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.complete-button {

    align-self: center;

    width: 220px;

    height: 56px;
}
