.tile {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    border: 2px solid transparent;
    border-radius: var(--radius-sm);

    background: transparent;

    box-sizing: border-box;
}

button.tile {
    cursor: pointer;
}

button.tile:hover {
    border-color: #b5b5b5;
}

.tile.selected {
    border-color: #0078d4;
}

.tile-image {
    display: block;

    user-select: none;
    pointer-events: none;
}

.tile:not(.sideways) .tile-image {
    width: 28px;
}

.tile.sideways .tile-image {
    width: 42px;
}