.tile {
    padding: 0;

    border: 2px solid transparent;
    border-radius: var(--radius-sm);

    background: transparent;

    cursor: pointer;
}

.tile:hover {
    border-color: #b5b5b5;
}

.tile.selected {
    border-color: #0078d4;
}

.tile img {
    display: block;

    width: 28px;
}